<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--消息域名-->
    <add key="yunxt" value="http://xt.weigaoholding.com:8090" />
    
    <!--短信-->
    <add key="PhoneMessageUrl" value="http://sdkhttp.eucp.b2m.cn/sdk/SDKService?wsdl"/>
    <add key="PhoneMessageNo" value="3SDK-EMY-0130-OERPP"/>
    <add key="PhoneMessageKey" value="orPfkTTLVz"/>
    <add key="PhoneMessageSM" value="..."/>
  </appSettings>
</configuration>