<header class="esh-header">
    <div class="esh-header-nav">
        <div class="esh-wrapper">
            <div class="esh-nav-title">
                <a href="">
                    <img class="esh-logo" src="~/Content/admin/img/logo.png" />
                </a>
            </div>
            <nav class="esh-nav esh-nav-wrap"></nav>
            <div class="esh-nav-right pull-right"></div>
        </div>
    </div>
</header>