@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/icons-extra.css" rel="stylesheet">

</head>
<body>
    <iframe id="index_content" src="/StaffMobile/Home/AskOrder" name="index_content" 
            style="margin-top:0px;padding-top:0px; width:100%; border:0px;
            min-height:500px;overflow:hidden;margin-bottom:80px;">
    </iframe>
    <nav class="mui-bar mui-bar-tab" id="tabcard">
        <a id="tab_commit" class="mui-tab-item mui-active">
            <span class="mui-icon mui-icon-extra mui-icon-extra-topic"></span>
            <span class="mui-tab-label">申请工单</span>
        </a>
        <a id="tab_undo" class="mui-tab-item ">
            <span class="mui-icon mui-icon-extra mui-icon-extra-order"></span>
            <span class="mui-tab-label">待办工单</span>
        </a>
        <a id="tab_done" class="mui-tab-item">
            <span class="mui-icon mui-icon-extra mui-icon-extra-dictionary"></span>
            <span class="mui-tab-label">历史工单</span>
        </a>
        <a id="tab_accessory" class="mui-tab-item">
            <span class="mui-icon mui-icon-extra  mui-icon-extra-calc"></span>
            <span class="mui-tab-label">我的备件</span>
        </a>
      

    </nav>
    <script src="~/Areas/StaffMobile/Scripts/mui.min.js"></script>
    <script src="~/Areas/StaffMobile/Scripts/zepto.min.js"></script>
    <script src="~/Areas/StaffMobile/Scripts/index.js"></script>
   
</body>
</html>